body{
    background-color: black;
    margin: 0;
}
.card {
    box-shadow: inset black 5px 5px 15px;
    transition: box-shadow 0.3s ease; 
}

.card:hover {
    box-shadow: inset black 2px 2px 5px; 
}

.card:hover img {
    border-left: 3px solid green;
    box-sizing: border-box;   
}
.top-body{
    background-image: url(imgs/mvelo1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 400px;
    border-bottom: red 4px ridge;
    overflow-y: auto;
    overflow-x: hidden;
}

#loading {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px; /* half of the height */
    margin-left: -25px; /* half of the width */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body#loading #loading {
    display: none;
}
